# dependencies
/node_modules

# testing
/coverage

# production
/build
.next/
out/

# misc
.DS_Store
.env.local
.env*.local
.env.development.local
.env.production.local
.swc/
.vscode/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# next.js cache
.next/cache/